fastapi==0.141.1
uvicorn==0.52.1
pydantic==2.12.5
pydantic-settings==2.13.1

langchain==1.2.10
langchain-core==1.6.1
langchain-groq==1.1.2
langchain-google-genai==4.2.1
langchain-community==0.4.1
langchain-text-splitters==1.1.1

langgraph==1.2.11
langgraph-checkpoint-mongodb==0.4.0

psycopg2-binary==2.9.11
pymongo==4.16.0

qdrant-client==1.16.1
